<div class="title">
  <div class="container">
    <h1>اخبار</h1>
    <div>
      <a [routerLink]="['']">صفحه اصلی</a> <span style="color:#ccc">/</span>
      <a style="color:#ccc">اخبار</a>
    </div>
  </div>
</div>
<div class="container">
  <div *ngFor="let item of items" class="cyan lighten-5">
    <blockquote class="blockquote-reverse white">
      <h5>{{item.title}}</h5>
      <p style="font-size: smaller">{{item?.time|persianDate}}</p>
      <footer>
        <p class="truncate">{{item.content}}</p>
        <a [routerLink]="['/news',item.id]">مشاهده...</a>
      </footer>
    </blockquote>
  </div>
  <div style="margin: 30px;text-align: center">
    <div *ngIf="loading" class="preloader-wrapper active" style="direction: ltr">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <button *ngIf="hasNews() && !loading" class="btn" (click)="onScroll()">قدیمی تر...</button>
  </div>
</div>
