<div class="header-title">
  <div>
    <div class="row" style="margin-bottom: 0">
      <div class="col s12 m9" style="position: relative">
        <h1>سبد خرید</h1>
        <div class="breadcrumbs">
          <a [routerLink]="['']">صفحه اصلی</a> <span style="color:#ccc">/</span>
          <a [routerLink]="['/products']">محصولات</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin: 20px auto 100px auto">
  <table class="bordered striped highlight">
    <thead>
      <tr>
        <th>نام محصول</th>
        <th>قیمت</th>
        <th>تعداد</th>
        <th>قیمت کل</th>
        <th>حذف</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="keys.length==0">
        <td colspan="5">کالای در سبد خرید شما وجود ندارد.</td>
      </tr>
      <tr *ngFor="let item of keys">
        <td >
          <p class="truncate">{{carts[item]?.product.title}}</p>
          </td>
        <td>{{carts[item]?.product.price|number}}</td>
        <td style="width:50px">
          <input [(ngModel)]="carts[item].num" placeholder="تعداد" />
        </td>
        <td>{{carts[item]?.product.price*carts[item]?.num |number}}</td>
        <td style="width:30px">
          <a (click)="remove(item)" >
            <i class="fa fa-2x fa-close" ></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot  *ngIf="keys.length>0">
      <tr>
        <td colspan="3">مبلغ کل</td>
        <td colspan="2">{{getTotal() | number}}</td>
      </tr>
    </tfoot>
  </table>
  <div *ngIf="keys.length>0" style="text-align: center;margin-top: 30px">
      <a routerLink="/validation" class="btn waves-effect waves-orange orange">ادامه خرید</a>
  </div>
</div>
