.content{
  padding: 4% 0 15% 0
}
h1{
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: 1px #f4f4f4 solid
}
*{
  direction: rtl;
  text-align: right
}
.title{
background: #f4f4f4;
padding: 100px 0 5px 0;
border-bottom: 2px solid #e4e4e4
}
