.col {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.3);
    cursor: pointer;
}
.col img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.brandList td {
    transition: all 0.5s ease-in-out;
}
.brandList,.brandList td{
  vertical-align: top;
  margin: 0!important;
  padding: 0!important
}
.brandList td:hover{
  width: 22%!important;
}
