<table class="brandList" style="width: 100%;height: 100vh;background-image: url('assets/image/mrs2.png');background-position: 0 bottom;background-size: 100% auto;background-repeat: no-repeat;vertical-align: bottom">
  <tbody>
    <tr>
      <td [ngStyle]="{'width':getColWidth()+'%'}" *ngFor="let ctg of categories;let i=index">
        <a  routerLink="/products/{{ctg.id}}" >
          <div [ngStyle]="{'background-color':'#'+ctg.color,'height':getHeight(i)+'vh'}" class="col">
            <img width="300" height="150" [src]="imageUrl(ctg.logo)" alt="" style="width: 100%;height: auto">
          </div>
        </a>
      </td>
      <td ></td>
    </tr>
  </tbody>
</table>
