tbody td{
  cursor: pointer;
  text-align: center;
}
table{
  direction: ltr;
}
.disabled{
  background: #f4f4f4;opacity: 0.7;cursor: default!important;
}
p,div{
  direction: rtl;
}
a{
  display: inline-block;
}
.select-dropdown{
  direction: rtl
}
select{
  display: block!important;
  border:none;
  border-bottom: 1px solid #9e9e9e;
}
