<div>
  <form>
    <table class="centered">
      <tr>
        <td style="width:10%">
          <button (click)="prev()" style="padding: 0 15px" class="btn  btn-flat">
              <i class="fa fa-2x fa-angle-double-left"></i>
            </button>
        </td>
        <td style="width:35%;font-size: smaller">
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="years" (change)="yearsSelected($event.target.value)">
              <option *ngFor="let y of yearsList" [ngValue]="y">{{y}}</option>
            </select>
        </td>
        <td style="width:10%">
          <button (click)="tody()" style="padding: 0 15px" class="btn blue btn-flat">
              امروز
            </button>
        </td>
        <td style="width:35%;font-size: smaller">
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="month" (change)="monthSelected($event.target.value)">
              <option *ngFor="let m of monthNames;let i=index" [ngValue]="i">{{m}}</option>
            </select>
        </td>
        <td style="width:10%">
          <button (click)="next()" style="padding: 0 15px" class="btn  btn-flat">
              <i class="fa fa-2x fa-angle-double-right"></i>
            </button>
        </td>
      </tr>
    </table>
    <table class="centered ">
      <thead>
        <tr>
          <td style="width:14.28%" *ngFor="let day of days" class="center-align">{{day}}</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of items">
          <td style="width:10%" *ngFor="let j of i" (click)="onDateSelect(j.day)" [ngClass]="{'blue white-text':isToday(j),'disabled':j.month!=month,'hoverable':j.month==month,'cyan':isDateSelected(j)}">{{j.day}}
          </td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
