.content {
  padding: 4% 0 15% 0
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: 1px #f4f4f4 solid
}

* {
  direction: rtl;
  text-align: right
}
.title {
  background: #f4f4f4;
  padding: 70px 0 5px 0;
  border-bottom: 2px solid #e4e4e4
}
.col{
  float: right
}
.row{
  margin-bottom: 0
}
.show-profile .row .col{
  line-height: 2em
}
.show-profile{
  padding: 20px 0
}
.data-error{
  direction: rtl;
  text-align: right;
  font-size: smaller;
  margin-top: -20px
}
.div-panel{
  position: absolute;
  width: 100%;
  min-height: 78vh;
  top:0;
  left:0;
}
.modal-overlay{
  position: relative!important;
}
.modal-content{
  padding: 0
}
.date-picher-modal{
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  height: 100%;
  background: #fff;
  display: none
}

