<div>
  <div class="div-panel show-profile" *ngIf="page==1" [@routeAnimation]="'true'">
    <div class="row">
      <div style="float: right" class="col s12 m12 l8">
        <div class="row">
          <div class="col s12 m6">نام: {{user.name}}</div>
          <div class="col s12 m6">نام خانوادگی: {{user.family}}</div>
        </div>
        <div class="row">
          <div class="col s12 m6">جنسیت: {{user.sex?'آقا':'خانم'}}</div>
          <div class="col s12 m6">تاریخ تولد: {{user.birthDay}}</div>
        </div>
        <div class="row">
          <div class="col s12 m6">تلفن ثابت: {{user.phone}}</div>
          <div class="col s12 m6">موبایل: {{user.mobile}}</div>
        </div>
        <div class="row">
          <div class="col s12 m6">ایمیل: {{user.email}}</div>
          <div class="col s12 m6">استان: {{user.province.name}}</div>
        </div>
        <div class="row">
          <div class="col s12 m6">شهر: {{user.city.name}}</div>
          <div class="col s12 m6">کد پسنی: {{user.zip}}</div>
        </div>
        <div class="row">
          <div class="col s12 m6">شغل: {{user.type}}</div>
          <div class="col s12 m6">تخصص: {{user.expert}}</div>
        </div>
        <div class="row">
          <div class="col s12">نشانی: {{user.address}}</div>
        </div>
        <div style="margin-top: 30px">
          <a (click)="page=2" class="btn blue">ویرایش</a>
          <a (click)="page=3" class="btn red">تغییر رمز عبور</a>
        </div>
      </div>
    </div>
  </div>
  <div class="div-panel" *ngIf="page==2" [@routeAnimation]="'true'">
    <div class="row">
      <div style="float: right" class="col s12 m12 l8">
        <form class="form" [formGroup]="form" (ngSubmit)="submit()">
          <div style="margin-bottom: 30px">
            <div class="row">
              <div class="col s12 m6">
                <mz-input-container>
                  <input mz-input id="icon_prefix" [label]="'نام'" formControlName="name" required type="text" class="validate">
                  <div class="data-error red-text" *ngIf="form.get('name').hasError('required') && form.get('name').touched">نام خود را وارد کنید.</div>
                </mz-input-container>
              </div>
              <div class="col s12 m6">
                <mz-input-container>
                  <input mz-input id="icon_prefix" [label]="'نام خانوادگی'" [dataError]="'نام خانوادگی خود را وارد کنید.'" formControlName="family" required type="text" class="validate">
                  <div class="data-error red-text" *ngIf="form.get('name').hasError('required') && form.get('name').touched">نام خود را وارد کنید.</div>
                </mz-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                  <mz-select-container>
                    <select  mz-select [label]="'جنسیت'" formControlName="sex">
                      <option [selected]="user.sex==true"  [ngValue]="'true'">آقا</option>
                      <option [selected]="user.sex==false"  [ngValue]="'false'">خانم</option>
                    </select>
                  </mz-select-container>
              </div>
              <div class="col s12 m6">
                <mz-input-container>
                  <input mz-input id="icon_prefix" [label]="'تاریخ تولد'" (focus)="openDatePicker()" formControlName="birthDay" type="text" class="validate">
                </mz-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <mz-input-container>
                  <input mz-input id="icon_mobile" [label]="'شماره موبایل'" [dataError]="'شماره موبایل خود را به صورت صحیح وارد کنید'" formControlName="mobile" required pattern="09\d{9}" type="text" class="validate">
                  <div class="data-error red-text" *ngIf="form.get('mobile').hasError('required') && form.get('mobile').touched">شماره موبایل خود را وارد کنید.</div>
                </mz-input-container>
              </div>
              <div class="col s12 m6">
                <mz-input-container>
                  <input mz-input id="icon_telephone" [dataError]="'شماره تلفن خود را به صورت صحیح وارد کنید'" [label]="'شماره تلفن'" formControlName="phone" pattern="0\d{10}" type="text" class="validate">
                </mz-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <mz-input-container>
                  <input mz-input [dataError]="'ایمیل وارد شده صحیح نشد.'" [label]="'ایمیل'" id="icon_email" formControlName="email" type="email" class="validate">
               </mz-input-container>
              </div>
              <div class="col s12 m6">
                <mz-input-container>
                  <input mz-input [label]="'کد پستی'" [dataError]="'کد پستی خود را به صورت صحیح وارد کنید'" id="icon_zip" formControlName="zip" required pattern="\d{10}" type="text" class="validate">
                  <div class="data-error red-text" *ngIf="form.get('zip').hasError('required') && form.get('zip').touched">کد پستی خود را وارد کنید.</div>
                </mz-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <mz-select-container>
                  <select mz-select [label]="'استان'" [placeholder]="'استان خود را انتخاب کنید.'" (change)="provinceSelected($event.target.value)"
                    formControlName="province">
                  <option *ngFor="let item of province" [selected]="item.id==user.province.id"  [ngValue]="item">{{item.name}}</option>
                </select>
                </mz-select-container>
              </div>
              <div class="col s12 m6">
                <mz-select-container>
                  <select mz-select [label]="'شهر'" [placeholder]="'شهر خود را انتخاب کنید.'" formControlName="city">
                  <option *ngFor="let item of cities" [selected]="item.id==user.city.id"  [ngValue]="item">{{item.name}}</option>
                </select>
                </mz-select-container>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <mz-input-container>
                  <input mz-input [label]="'نشانی'" id="icon_address" formControlName="address" required type="text" class="validate">
                  <div class="data-error red-text" *ngIf="form.get('address').hasError('required') && form.get('address').touched">نشانی خود را وارد کنید</div>
                </mz-input-container>
              </div>
            </div>
            <div *ngIf="message">
              <p class="message-{{message.result}}">{{message.message}}</p>
            </div>
            <button type="submit" [disabled]="!form.valid || loading" class="waves-effect waves-light btn">
            <span *ngIf="!loading">ذخیره</span>
            <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw" ></i>
          </button>
            <a (click)="page=1" class="btn red">بازگشت</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="div-panel" *ngIf="page==3" [@routeAnimation]="'true'">
    <div class="row">
      <div class="col s12 m6 l5" style="float: right">
        <form class="form" [formGroup]="passform" (ngSubmit)="submit()">
          <div style="margin-bottom: 30px">
            <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <input id="icon_address" formControlName="oldPassword" required type="password" class="validate">
                  <label for="icon_address">رمز عبور فعلی</label>
                  <div class="data-error red-text" *ngIf="passform.get('oldPassword').hasError('required') && passform.get('oldPassword').touched">
                    رمز عبور خود را وارد کنید!</div>
                </div>
              </div>
            </div>
            <div class="row" formGroupName="passwords">
              <div class="col s12">
                <div class="input-field">
                  <input id="icon_address" formControlName="password" required type="password" class="validate">
                  <label for="icon_address">رمز عبور جدید</label>
                  <div class="data-error red-text" *ngIf="passform.get('passwords').get('password').hasError('required') && passform.get('passwords').get('password').touched">
                    رمز عبور جدید را وارد کنید!</div>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field">
                  <input id="icon_address" formControlName="repassword" required type="password" class="validate">
                  <label for="icon_address">تکرار رمز عبور جدید</label>
                  <div class="data-error red-text" *ngIf="passform.get('passwords').get('repassword').hasError('required') && passform.get('passwords').get('repassword').touched">
                    تکرار رمز عبور جدید را وارد کنید!</div>
                  <div class="data-error red-text" [hidden]="passform.get('passwords').valid || passform.get('passwords').get('repassword').pristine">
                    دو رمز عبور وارد شده یکسان نیست!</div>
                </div>
              </div>
            </div>
            <div *ngIf="message">
              <p class="message-{{message.result}}">{{message.message}}</p>
            </div>
            <button type="submit" [disabled]="!passform.valid || loading" class="waves-effect waves-light btn">
            <span *ngIf="!loading">تغییر رمز عبور</span>
            <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw" ></i>
          </button>
            <a (click)="page=1" class="btn red">بازگشت</a>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
<div class="date-picher-modal">
  <date-picher (onSelect)="onSelect($event)"></date-picher>
</div>
