<div>
  <div class="header-title" [ngStyle]="{'padding-top':search?'20px':'100px'}">
    <div>
      <div class="row" style="margin-bottom: 0">
        <div class="col s12 m9" style="position: relative">
          <h1>{{category?.title}}</h1>
          <div class="breadcrumbs">
            <a [routerLink]="['']">صفحه اصلی</a> <span *ngIf="!search" style="color:#ccc">/</span>
            <a style="color:#ccc" [innerHTML]="category?.title"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" content">
    <div class="row">
      <div class="col s12 m9">
        <div class="row">
          <div infiniteScroll [infiniteScrollDisabled]="loading" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()"
            *ngFor="let item of products" class="col s12 m6 l4">
            <div class="card">
              <div class="card-image" style="border-bottom: 1px solid #ccc">
                <img [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(item.image)" [offset]="200">
                <a (click)="addToCart(item)" class="btn-floating halfway-fab waves-effect waves-light" [ngClass]="{'red':hasInCart(item),'blue':!hasInCart(item)}">
            <i class="fa" [ngClass]="{'fa-cart-arrow-down':hasInCart(item),'fa-cart-plus':!hasInCart(item)}"></i>
            </a>
              </div>
              <div class="card-content">
                <p class="truncate">{{item.title}}</p>
                <p class="truncate">{{item.content}}&nbsp;</p>
                <p *ngIf="!item.discount || item.discount==0" class="price">&nbsp;<br/>{{item.price | number}}</p>
                <p *ngIf="item.discount && item.discount>0"><span class="price invalid-price">{{item.price | number}}</span><span class="price">{{item.price | price:item.discount |number}}</span></p>
              </div>
              <div class="card-action">
                <a [routerLink]="['/product',item.id]">جزییات</a>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="col s12" style="text-align: center">
            <div class="preloader-wrapper big active" style="direction: ltr">
              <div class="spinner-layer spinner-blue-only" style="direction: ltr">
                <div class="circle-clipper left" style="direction: ltr">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch" style="direction: ltr">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right" style="direction: ltr">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 *ngIf="products.length==0">
          محصولی یافت نشد.
        </h5>
      </div>
      <div class="col s12 m3">
        <app-left-side></app-left-side>
      </div>
    </div>
  </div>
</div>
