<div class="title">
  <div class="container">
    <h1>ورود</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div style="margin-bottom: 30px">
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                <input id="icon_mobile" formControlName="username" required pattern="(09\d{9})|([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$)" type="text" class="validate">
                <label data-error="شماره موبایل یا ایمیل خود را بدرستی وارد کنید." for="icon_telephone">نام کاربری</label>
              </div>
            </div>
            <div class="col s12 ">
              <div class="input-field">
                <input id="icon_telephone" formControlName="password" type="password" class="validate">
                <label for="icon_telephone">رمز عبور</label>
                <div class="data-error red-text" *ngIf="form.get('username').hasError('required') && form.get('username').touched">رمز عبور خود را وارد کنید.</div>
              </div>
            </div>
          </div>
          <p>
            <input type="checkbox" id="test5" formControlName="remember" />
            <label for="test5">مرا بخاطر بسپار</label>
          </p>
          <div *ngIf="message">
              <p class="message-{{message.result}}">{{message.message}}</p>
          </div>
          <button type="submit" [disabled]="!form.valid || loading" class="waves-effect waves-light btn">
            <span *ngIf="!loading">ورود</span>
            <i *ngIf="loading" class="fa fa-spinner fa-fw fa-pulse" ></i>
          </button>
          <a [routerLink]="['/register']">عضویت</a>
        </div>
      </form>
    </div>
  </div>
</div>
