<div class="title">
  <div class="container">
  <h1 [innerHTML]="news?.title"></h1>
  <div>
      <a [routerLink]="['']">صفحه اصلی</a> <span style="color:#ccc">/</span>
      <a [routerLink]="['/news']">اخبار</a><span style="color:#ccc">/</span>
      <a style="color:#ccc" [innerHTML]="news?.title"></a>
    </div>
  </div>
</div>
<div class="container content">
  <div [innerHTML]="news?.content"></div>
  <p>{{news?.time|persianDate}}</p>
</div>
