<div class="card collection" *ngIf="topHit.length>0">
  <a class="collection-header">
    <h5 style="text-align: center">بهترین</h5>
  </a>
  <a routerLink="/product/{{item.id}}" *ngFor="let item of topHit" class="collection-item hoverable">
             <img style="width: 70px;height: auto;position: absolute;right:0;top:4px" [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(item.image)" [offset]="200">
            <div style="margin-right: 75px">
                  <span class="truncate title">{{item.title}}</span>
                  <span style="font-size: smaller" *ngIf="!item.discount || item.discount==0" class="price">{{item.price | number}}</span>
                  <span style="font-size: smaller" *ngIf="item.discount && item.discount>0"><span class="price">{{item.price | price:item.discount |number}}</span></span>
            </div>
          </a>
</div>
<div class="card collection" *ngIf="newProduct.length>0">
  <a class="collection-header">
    <h5 style="text-align: center">محصولات جدید</h5>
  </a>
  <a routerLink="/product/{{item.id}}" *ngFor="let item of newProduct" class="collection-item hoverable">
             <img style="width: 70px;height: auto;position: absolute;right:0;top:4px" [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(item.image)" [offset]="200">
              <div style="margin-right: 75px">
                    <span class="truncate title">{{item.title}}</span>
                    <span style="font-size: smaller" *ngIf="!item.discount || item.discount==0" class="price">{{item.price | number}}</span>
                    <span style="font-size: smaller" *ngIf="item.discount && item.discount>0"><span class="price">{{item.price | price:item.discount |number}}</span></span>
              </div>
          </a>
</div>
