<div *ngIf="!product">
  <div class="header-title">
    <div class="container">
      <h1>{{message?.title}}</h1>
    </div>
  </div>
  <div class="container content">
    <div [innerHTML]="message?.content"></div>
  </div>
</div>
<div *ngIf="product">
  <div class="header-title">
    <div>
      <div class="row" style="margin-bottom: 0">
        <div class="col s12 m9" style="position: relative">
          <h1>{{product?.title}}</h1>
          <div class="breadcrumbs">
            <a [routerLink]="['']">صفحه اصلی</a> <span style="color:#ccc">/</span>
            <a [routerLink]="['/news']" [innerHTML]="product?.category?.title"></a><span style="color:#ccc">/</span>
            <a style="color:#ccc" [innerHTML]="product?.title"></a>
          </div>
          <a (click)="addToCart()" class="btn-floating btn-large halfway-fab waves-effect waves-light" [ngClass]="{'red':hasInCart(),'blue':!hasInCart()}">
              <i  class="fa" [ngClass]="{'fa-cart-arrow-down':hasInCart(),'fa-cart-plus':!hasInCart()}"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class=" content">
    <div class="row">
      <div class="col s12 m9">
        <div class="card">
          <div class="row">
            <div class="col s12 m6" style="padding: 0">
              <div #carousel class="slider">

                <ul class="slides">
                  <li *ngFor="let item of product.images">
                    <img width="800" height="600" [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(item)" [offset]="200">
                  </li>
                </ul>
                <a (click)="next()" *ngIf="product.images.length>1" class="arrow right">
                  <i class="fa fa-2x fa-angle-right" ></i>
                </a>
                <a (click)="prev()" *ngIf="product.images.length>1" class="arrow left">
                  <i class="fa fa-2x fa-angle-left" ></i>
                </a>
              </div>
            </div>
            <div class="col s12 m6">
              <p>نام کالا: {{product.title}}</p>
              <p>کد کالا: {{product.partNumber}}</p>
              <p>پروانه بهداشتی: {{product.licenseNumber}}</p>
              <p *ngIf="!product.invenoty">موجودی: ۰</p>
              <p>قیمت:
                <span *ngIf="!product.discount || product.discount==0" class="price">{{product.price | number}}</span>
                <span *ngIf="product.discount && product.discount>0"><span class="price invalid-price">{{product.price | number}}</span>
                <span class="price">{{product.price | price:product.discount |number}}</span>
                </span>
              </p>
              <p>
                <star-rating-comp [direction]="'rtl'" [numOfStars]="5" [readOnly]="true" [starType]="'icon'" [rating]="product.rate"></star-rating-comp>
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div *ngIf="product.content" class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a style="text-align: center" class="active" href="#test4">بررسی فنی</a></li>
              <li class="tab"><a style="text-align: center" href="#test5">نظرات</a></li>
            </ul>
          </div>
          <div *ngIf="product.content" class="card-content grey lighten-4">
            <div id="test4" [innerHTML]="product.content"></div>
            <div id="test5">
              <ul>
                <li *ngFor="let comment of comments">
                  aa
                </li>
              </ul>
            </div>
          </div>
          <div *ngIf="!product.content" class="card-content">
            <h5>نظرات</h5>
            <ul>
              <li *ngFor="let comment of comments">
                aa
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <app-left-side></app-left-side>
      </div>
    </div>
  </div>
</div>
