h1 {
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: 1px #f4f4f4 solid
}

* {
  direction: rtl;
  text-align: right
}

.header-title {
  background: #f4f4f4;
  padding: 100px 0 5px 0;
  border-bottom: 2px solid #e4e4e4
}

.breadcrumbs a {
  display: inline-block
}
.breadcrumbs{
   width: calc(100% - 70px)!important;
   display: inline-block
}
.row .col{
  float: right
}
ul {
  padding-right: 0!important
}
.indicators{
   padding-right: 0!important
}
.btn-floating.halfway-fab{
  right:auto!important;
  left:20px!important;
}
.card .card-content p{
  line-height: 2rem
}
.rating{
  margin: 30px
}
.collection-item{
  background-size: cover;
  text-align: center;
  position: relative
}
.collection .collection-item.avatar .circle{
  left: auto;
  right: 15px
}
.arrow{
  position: absolute;
  width: 10%;
  height: 100%;
  top:0;
  z-index: 9999999;
  background-color: rgba(255,255,255,0);
  transition: 0.3s all ease-in-out;
  text-align: center;
}
.arrow:hover{
  background-color: rgba(255,255,255,0.6);
  cursor: pointer;
}
.arrow i{
  top: 48%;
  position: relative;
  display: inline-block
}
.slider .left{
  left:0;
}
.slider .right{
  right:0
}
