.logo {
  height: 60px;
  width: auto;
}
.page-footer{
  border-top: 1px solid #e4e4e4
}
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons{
  float: right;
  margin: 0 0 0 5px;
}
