<div>
  <div>
    <nav style="background-color: rgba(238, 110, 115, 0.8);position: fixed;z-index: 999;top:0">
      <div class=" nav-wrapper">
        <a href="#" class="brand-logo right">
            <img class="logo" src="assets/image/logo.png.png" height="266" width="464"/>
          </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-2x fa-bars"></i></a>
        <a (click)="openSearchForm()" class="hide-on-large-only nav-icon"><i class="fa fa-search fa-2x"></i></a>
        <a [routerLink]="['/cart']" class="hide-on-large-only nav-icon">
          <i class="fa fa-shopping-cart fa-2x"></i>
          <span class="blue badge" style="margin-left: -6px;margin-top: 25px;">{{cartCount}}</span>
          </a>
        <ul id="nav-mobile" class="left right-align hide-on-med-and-down">
          <li>
            <a (click)="openSearchForm()"><i class="fa fa-search fa-2x"></i></a>
          </li>
          <li style="direction: rtl">
            <a [routerLink]="['/cart']"><span class="blue badge">{{cartCount}}</span><i class="fa fa-shopping-cart fa-2x"></i></a>
          </li>
          <li><a [routerLink]="['/panel']">پنل کاربری</a></li>
          <li><a [routerLink]="['/login']">ورود/عضویت</a></li>
          <li><a [routerLink]="['/products']">محصولات</a></li>
          <li><a [routerLink]="['']">صفحه اصلی</a></li>
        </ul>
        <form (ngSubmit)="searchSubmit()" #searchForm>
          <div class="input-field input-search grey-text">
            <input [(ngModel)]="search" [ngModelOptions]="{standalone: true}" id="text" placeholder="جستجو ..." type="text" required>
            <a (click)="searchSubmit()" style="color:#9e9e9e"><i style="left:60px" class="fa fa-2x fa-search"></i></a>
            <i (click)="closeSearchForm()" class="fa fa-2x fa-close"></i>
          </div>
        </form>
      </div>
    </nav>
    <ul class="side-nav left right-align" id="mobile-demo">
      <li>
        <div class="userView center-align">
          <img style="width: 150px;height: auto;display: inline-block;" src="assets/image/logo.png.png" height="266" width="464" />
        </div>
      </li>
      <li class="no-padding"><a [routerLink]="['']"><i class="fa fa-2x fa-home"></i>صفحه اصلی</a></li>
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a style="padding:0 32px" class="collapsible-header"><i style="font-size: 2em" class="fa fa-2x fa-caret-down"></i>محصولات</a>
            <div class="collapsible-body">
              <ul>
                <li *ngFor="let ctg of categories"><a style="padding-right: 55px" [routerLink]="['products',ctg.id]" [ngStyle]="{'color':'#'+ctg.color}">{{ctg.title}}</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding"><a><i class="fa fa-2x fa-user"></i>ورود / عضویت</a></li>
    </ul>
  </div>
  <div style="position: relative;min-height: 100vh">
    <router-outlet></router-outlet>
  </div>
  <footer class="page-footer cyan lighten-5 contact" style="direction: rtl">
    <div class="container">
      <app-news-slider *ngIf="items" [items]="news"></app-news-slider>
      <div class=" row">
        <div class="col s12 m6 l4">
          <form [formGroup]="contactForm" (ngSubmit)="contactSubmit()">
            <div>
              <div class="input-field">
                <input id="icon_prefix" formControlName="name" required type="text" class="validate">
                <label data-error="نام خود را وارد کنید." for="icon_prefix">نام</label>
              </div>
              <div class="input-field">
                <input id="icon_telephone" formControlName="mobileNum" required pattern="09\d{9}" type="text" class="validate">
                <label data-error="شماره موبایل خود را به صورت صحیح وارد کنید" for="icon_telephone">شماره تلفن</label>
              </div>
              <div class="input-field">
                <input id="icon_telephone" formControlName="email" type="email" class="validate">
                <label data-error="ایمیل وارد شده صحیح نشد." for="icon_telephone">ایمیل</label>
              </div>
              <div class="input-field">
                <textarea id="textarea1" formControlName="content" required class="materialize-textarea"></textarea>
                <label data-error="پیام خود را وارد کنید." for="textarea1">پیام</label>
              </div>
              <button type="submit" [disabled]="!contactForm.valid || loading" class="waves-effect waves-light btn">
                <span *ngIf="!loading">ارسال</span>
                <i *ngIf="loading" class="fa fa-spinner fa-fw fa-pulse" ></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col s12 m6 l4">
          <div *ngIf="home?.content_links.length>0">
            <h4>اطلاعات سایت</h4>
            <ul>
              <li *ngFor="let link of home?.content_links"><a routerLink="{{link.link}}" [innerHtml]="link.title"></a></li>
            </ul>
          </div>
          <div *ngIf="home?.links.length>0">
            <h4>لینک ها</h4>
            <ul>
              <li *ngFor="let link of home?.links"><a [href]="link.link" [innerHtml]="link.title"></a></li>
            </ul>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <h4>راه های ارتباطی</h4>
          <address>
            <strong *ngIf="home?.contact.address.content">{{home?.contact.address.title}}</strong>
            <p *ngIf="home?.contact.address.content">{{home?.contact.address.content}}</p>
            <strong *ngIf="home?.contact.phone.content">{{home?.contact.phone.title}}</strong>
            <p style="direction: ltr" *ngIf="home?.contact.phone.content">{{home?.contact.phone.content}}</p>
            <strong *ngIf="home?.contact.email.content">{{home?.contact.email.title}}</strong>
            <p *ngIf="home?.contact.email.content">{{home?.contact.email.content}}</p>
          </address>
          <div>
            <img id="apfunbqewlaooeukfukz" style="cursor:pointer" onclick="window.open(&quot;https://logo.samandehi.ir/Verify.aspx?id=52486&amp;p=dshwuiwkaodsmcsigvka&quot;, &quot;Popup&quot;,&quot;toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30&quot;)"
              alt="logo-samandehi" src="https://logo.samandehi.ir/logo.aspx?id=52486&amp;p=ujynodrfshwlaqgwwlbq">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
        © 2017 Copyright Gomaneh.org
        <a target="_blank" [href]="home?.socials.telegram.link" [title]="home?.socials.telegram.title" *ngIf="home?.socials.telegram.link"
          class="black-text text-lighten-4 left" style="margin: 0 5px">
          <i class="fa fa-telegram"></i>
        </a>
        <a target="_blank" [href]="home?.socials.instagram.link" [title]="home?.socials.instagram.title" *ngIf="home?.socials.instagram.link"
          class="black-text text-lighten-4 left" style="margin: 0 5px">
          <i class="fa fa-instagram"></i>
        </a>
        <a target="_blank" [href]="home?.socials.facebook.link" [title]="home?.socials.facebook.title" *ngIf="home?.socials.facebook.link"
          class="black-text text-lighten-4 left" style="margin: 0 5px">
          <i class="fa fa-facebook"></i>
        </a>
        <a target="_blank" [href]="home?.socials.google_plus.link" [title]="home?.socials.google_plus.title" *ngIf="home?.socials.google_plus.link"
          class="black-text text-lighten-4 left" style="margin: 0 5px">
          <i class="fa fa-google-plus"></i>
        </a>
      </div>
    </div>
  </footer>
</div>
