<div class="slider fullscreen">
  <ul class="slides  carousel-slider">
    <li *ngFor="let slide of items">
      <img [defaultImage]="defaultImage" [lazyLoad]="imageUrl(slide.image)" [offset]="200">
      <div *ngIf="slide.descr" class="caption center-align" [innerHtml]="slide.descr">
      </div>
    </li>
  </ul>
</div>
