/* You can add global styles to this file, and also import other style files */
body{
  font-family: IRANSans;
}
#toast-container{
  direction: rtl;
  font-family: IRANSans;
}
.carousel .indicators .indicator-item{
  background-color: #ccc;
}
.carousel .indicators .indicator-item.active {
  background-color: #222;
}
.carousel .indicators{
  padding-right: 0;
  bottom:20px
}
.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 10px;
}
.invalid-price{
  color:red;
  text-decoration: line-through;display: block;
}
.price:after{
  content: 'ریال';
}
.caret {
    left: 0!important;
    right:auto!important
}
ul{
  padding: 0
}
.dropdown-content li > a, .dropdown-content li > span{
  direction: rtl!important;
  text-align: right!important
}
.message-success{
  color: green;
  padding: 15px;
  border:1px solid green;
  border-radius: 5px;
  background: rgba(0,255,0,0.2);
  margin: 10px 0!important;
}

.message-error{
  color: red;
  padding: 15px;
  border:1px solid red;
  border-radius: 5px;
  background: rgba(255,0,0,0.2);
  margin: 10px 0!important;
}
.select-wrapper input.select-dropdown{
  direction: rtl
}
