<div style="height: 100vh;position: relative">
<app-slider [defaultImage]="'assets/image/preloader.gif'" [url]="'http://localhost:8080/marketing/media/slider'"
            [items]="home?.sliders"></app-slider>
</div>

<div class="container welcome">
  <h1>{{home?.about.title}}</h1>
  <p [innerHtml]="home?.about.content"></p>
  <a routerLink="/{{home?.about.route}}"  routerLinkActive="active" >بیشتر ...</a>
</div>
<div *ngFor="let category of categories;let i=index">
  <div class="banners" *ngIf="i%2==0">
    <div class="hide-on-small-only">
      <a [routerLink]="['/products',category.id]">
        <img *ngIf="category.banner" [defaultImage]="'assets/image/rebom-sample.jpg'" [lazyLoad]="imageUrl(category.banner)" [offset]="200">
      </a>
    </div>
    <div>
      <img  *ngIf="category.bg"  [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(category.bg)" [offset]="200">
      <img  *ngIf="!category.bg" src="assets/image/banner-rio.jpg"/>
      <span class="s-desc">
       <h2 style="text-align: center">
         <img height="150" width="300" style="width: 30%;height: auto;transform: scale(1);margin: 0 auto" *ngIf="category.logo" [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(category.logo)" [offset]="100">
      </h2>
      <p class="truncate"  *ngIf="category.content">{{category.content}}</p>
      <a  [routerLink]="['/products',category.id]">بیشتر ...</a>
    </span>
    </div>
  </div>
  <div class="banners" *ngIf="i%2!=0">
    <div>
      <img  *ngIf="category.bg"  [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(category.bg)" [offset]="200">
      <img  *ngIf="!category.bg" src="assets/image/banner-rio.jpg"/>
      <span class="s-desc">
      <h2 style="text-align: center">
         <img height="150" width="300" style="width: 30%;height: auto;transform: scale(1);margin: 0 auto" *ngIf="category.logo" [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(category.logo)" [offset]="100">
      </h2>
      <p class="truncate"  *ngIf="category.content">{{category.content}}</p>
      <a [routerLink]="['/products',category.id]">بیشتر ...</a>
    </span>
    </div>
    <div class="hide-on-small-only">
      <a  [routerLink]="['/products',category.id]">
        <img  *ngIf="category.banner"  [defaultImage]="'assets/image/roi-sample.jpg'" [lazyLoad]="imageUrl(category.banner)" [offset]="200">
      </a>
    </div>
  </div>
</div>
<div *ngIf="topHits && topHits.length>0" class="parallax-container">
  <div class="parallax">
    <img src="assets/image/bg_img.jpg"/>
  </div>
  <h1 class="center-align">
      <span
        style="color: #f4f4f4;border: 7px solid #f4f4f4;padding: 10px 30px;border-radius: 5px;opacity: 0.8;margin-top: 70px;display: inline-block">Top Hit</span>
  </h1>
</div>
<div  *ngIf="topHits && topHits.length>0" style="direction: rtl">
  <div class="row">
    <div *ngFor="let item of topHits" class="col s6 m3 l3">
      <div class="card">
        <div class="card-image" style="border-bottom: 1px solid #ccc">
          <img [defaultImage]="'assets/image/preloader.gif'" [lazyLoad]="imageUrl(item.image)" [offset]="200">
          <a (click)="addToCart(item)" class="btn-floating halfway-fab waves-effect waves-light"  [ngClass]="{'red':hasInCart(item),'blue':!hasInCart(item)}">
            <i class="fa" [ngClass]="{'fa-cart-arrow-down':hasInCart(item),'fa-cart-plus':!hasInCart(item)}"></i>
            </a>
        </div>
        <div class="card-content">
          <p class="truncate">{{item.title}}</p>
          <p class="truncate">{{item.content}}&nbsp;</p>
          <p *ngIf="!item.discount || item.discount==0" class="price">&nbsp;<br/>{{item.price | number}}</p>
          <p *ngIf="item.discount && item.discount>0"><span class="price invalid-price">{{item.price | number}}</span><span
            class="price">{{item.price | price:item.discount |number}}</span></p>
        </div>
        <div class="card-action">
          <a  [routerLink]="['/product',item.id]">جزییات</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" style="background-color: rgba(255,255,255,0.3)">

    <img src="assets/image/rebom-bg.jpg.jpg"/></div>
  <h3 class="center-align">
      <span style="color: #f4f4f4;padding: 10px 30px;opacity: 0.8;margin-top: 30px;display: inline-block">
       <span>
        당신의 건강에 투기 신뢰할 수있는 파트너
         </span><br/>
        <span style="font-size: x-large"
        >گمانه شريك مطمئني در سلامتي شما</span>
      </span>

  </h3>
</div>
