
.welcome {
  text-align: center;
  direction: rtl;
  padding: 10% 0;
  color: #222
}

.banners > div, .banners-2 > div {
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 991px) {
  .banners > div {
    float: left;
    width: 50%;
  }
}

.banners > div img, .banners-2 > div img {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.banners:hover .banners img, .banners-2:hover .banners img{
  transform: scale(1.05);
}
.banners > div img {
  width: 100%;
}

img, .truncated .truncated_full_value .item-options {
  -webkit-transition: all, 0.8s, ease-in-out;
  -o-transition: all, 0.8s, ease-in-out;
  transition: all, 0.8s, ease-in-out;
}

img {
  display: block;
}

html, body, img, fieldset, abbr, acronym {
  border: 0;
}

img {
  border: 0;
}

img {
  vertical-align: middle;
}
.banners>div .s-desc, .banners-2>div .s-desc {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -60px;
  text-align: center;
  left: 0;
  font-size: 14px;
  color: #bdbdbd;
  z-index: 5;
}
@media only screen and (max-width: 1199px) {
  .banners > div .s-desc h2, .banners-2 > div .s-desc h2 {
    font-size: 28px;
  }
}
.banners>div .s-desc h2, .banners-2>div .s-desc h2 {
  font-size: 42px;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  margin: 0;
}
h2, .h2 {
  margin: 0;
  margin-bottom: 1.5em;
  color: #303334;
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}
p {
  margin: 0 0 10px;
}
.banners>div .s-desc>a, .banners-2>div .s-desc>a {
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid #8b8b8b;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
a, .button, a::after, a::before, .button::after, .button::before, .button span span::before, .btn-remove:after, .swatch-link, .swatch-link .swatch-label, .swatch-link .swatch-text, .swatch-link.has-image .swatch-label::before, .block .product-image, label:after, #header-cart, .skip-cart .count::before, .skip-cart .count {
  -webkit-transition: all,0.2s,ease-in-out;
  -o-transition: all,0.2s,ease-in-out;
  transition: all,0.2s,ease-in-out;
}
a, .button, a::after, a::before, .button::after, .button::before, .button span span::before, .btn-remove:after, .swatch-link, .swatch-link .swatch-label, .swatch-link .swatch-text, .swatch-link.has-image .swatch-label::before, .block .product-image, label:after, #header-cart, .skip-cart .count::before, .skip-cart .count {
  -webkit-transition: all,0.2s,ease-in-out;
  -o-transition: all,0.2s,ease-in-out;
  transition: all,0.2s,ease-in-out;
}
.page-sitemap .links a{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;background:#e52828;display:inline-block;padding:9px 18px;color:#fff;font-size:16px;font-weight:500;font-family:"Roboto",sans-serif;line-height:20px;text-align:center;vertical-align:middle;overflow:hidden;position:relative}.page-sitemap .links a span{z-index:9;position:relative}.page-sitemap .links a:not(a)::after{content:'';position:absolute;width:100%;height:0;bottom:0;left:0;background:#c21818;z-index:2}.page-sitemap .links a:hover{background:#c21818;cursor:pointer}.page-sitemap .links a:hover::after{height:100%}.page-sitemap .links a:active::after{background:#951212}.page-sitemap .links a:focus{color:#fff;background:#951212}.page-sitemap .links a{background:#eee;color:#333;text-shadow:none}.page-sitemap .links a:not(a)::after{background:#e1e1e1}.page-sitemap .links a:hover{background:#e1e1e1;cursor:pointer;color:#333}.page-sitemap .links a:active{color:#333}.page-sitemap .links a:active::after{background:#d4d4d4}.page-sitemap .links a:focus{background:#d4d4d4;color:#333;outline:none}.page-sitemap .links a{font-size:14px;text-transform:none;padding:6px 15px}.page-sitemap .links a{border-bottom:solid 1px rgba(0,0,0,0.28);border-right:solid 1px rgba(0,0,0,0.2);border-top:solid 1px transparent;border-left:solid 1px transparent}.page-sitemap .links a:hover{border-bottom-color:transparent;border-right-color:transparent;border-top-color:rgba(0,0,0,0.28);border-left-color:rgba(0,0,0,0.2)}.page-sitemap .links a:hover{z-index:999}.theme-border,.table-bordered{border-top:solid 2px #e52828}.theme-color{color:#e52828}.title-border,.page-sitemap .page-title h1,.ps-static.cms-page-view .page-title:not(.without-border) h1{border-bottom:solid 2px #eaeaea;padding-bottom:30px!important;margin-bottom:40px!important}@media only screen and (max-width: 767px){.title-border,.page-sitemap .page-title h1,.ps-static.cms-page-view .page-title:not(.without-border) h1{margin-bottom:15px!important;padding-bottom:10px!important}}.theme-block,#oar_widget_orders_and_returns_form .fieldset{border:solid 1px #eaeaea;border-top:solid 2px #e52828;padding:30px 29px;margin-bottom:60px}.no-theme-block{border:none;padding:0;margin-bottom:0}label{text-transform:uppercase;color:#333;font-weight:normal}.table-bordered thead>tr>th,.table-bordered thead>tr>td{font-size:16px;line-height:1.667em;color:#333;text-transform:uppercase;font-weight:500}@media only screen and (max-width: 991px){.theme-block,#oar_widget_orders_and_returns_form .fieldset{padding:15px;margin-bottom:30px}label{font-size:12px}}.table-bordered thead>tr>th,.table-bordered thead>tr>td{border-bottom-width:1px}.table-bordered th,.table-bordered td{border:solid 1px #eaeaea}.ink{display:block;position:absolute;background:rgba(0,0,0,0.1);border-radius:100%;-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);-webkit-transform:scale(0);transform:scale(0);z-index:9999}.animate{-webkit-animation:ripple 0.65s linear;-webkit-animation:ripple 0.65s linear;-moz-animation:ripple 0.65s linear;-ms-animation:ripple 0.65s linear;-o-animation:ripple 0.65s linear;animation:ripple 0.65s linear}@-webkit-keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5);-o-transform:scale(2.5);-ms-transform:scale(2.5);-webkit-transform:scale(2.5);transform:scale(2.5)}}@-moz-keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5);-o-transform:scale(2.5);-ms-transform:scale(2.5);-webkit-transform:scale(2.5);transform:scale(2.5)}}@-o-keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5);-o-transform:scale(2.5);-ms-transform:scale(2.5);-webkit-transform:scale(2.5);transform:scale(2.5)}}@keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5);-o-transform:scale(2.5);-ms-transform:scale(2.5);-webkit-transform:scale(2.5);transform:scale(2.5)}}.icon-sprite,.icon-sprite-for-modules{background-repeat:no-repeat;text-indent:-9999px}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){.icon-sprite,.icon-sprite-for-modules{background-size:100px 1000px}}.fieldset p{margin-bottom:7px}.fieldset p.required{margin-bottom:5px;float:right;font-size:14px;margin-top:5px;margin-right:5px}.fieldset+.fieldset{margin-top:5px}form .legend{margin:0;margin-bottom:10px;color:#303334;font-family:"Roboto",sans-serif;font-size:20px;font-weight:500;font-style:normal;line-height:1.4;text-rendering:optimizeSpeed;font-size:18px;margin-bottom:30px;font-weight:500}.input-box{padding-top:2px;position:relative}.input-box .input-box:after{content:'';display:table;clear:both}li.centinel-logos div.input-box img{display:inline;vertical-align:middle}.input-box .v-fix{float:left;margin-right:5px;max-width:100%}label{margin:0;-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}label.required:after,span.required:after{content:' * ';color:#ee372a;font-weight:normal;font-family:"Helvetica Neue",Verdana,Arial,sans-serif;font-size:12px}label.required em,span.required em{display:none}.input-hint{color:#909090;font-size:12px}select{font-size:14px}select+select{margin-left:5px}select[multiple]{width:270px;border:1px solid #eaeaea;font-size:15px;padding:5px}.input-text.validation-failed{border-color:#ee372a}.input-text.validation-failed:focus{outline-color:#f69b94}.form-list .control label,.sp-methods dt label,.product-options ul.options-list label{color:#5f6262;background-color:#f5f5f5;padding:5px 10px;display:inline-block;width:auto;max-width:none;min-width:250px;float:none;padding:6px 10px 6px 40px}.form-list .control label:hover,.sp-methods dt label:hover,.product-options ul.options-list label:hover{background-color:#EDEDED}.form-list .control .no-display+label,.sp-methods dt .no-display+label,.product-options ul.options-list .no-display+label{padding-left:10px;background-color:transparent}.form-list .control .no-display+label:hover,.sp-methods dt .no-display+label:hover,.product-options ul.options-list .no-display+label:hover{background-color:transparent}.product-options ul.options-list label,.col2-set .form-list .control label{min-width:inherit;width:100%;max-width:100%}.form-list .control.remember-me-box label{width:auto;max-width:none;min-width:inherit}.form-list .control{margin-top:15px}.form-list .control label{float:none}.form-list .control .radio,.form-list .control .checkbox{margin-right:6px}.form-list .control .input-box{clear:none;display:inline-block;width:auto;padding:0}form .form-instructions{font-style:italic;font-family:Georgia,Times,"Times New Roman",serif;font-size:13px;color:#909090}.banners:after{content:'';display:table;clear:both}@media only screen and (min-width: 991px){.banners>div{float:left;width:50%}}.banners>div img{width:100%}.banners-2:after{content:'';display:table;clear:both}@media only screen and (min-width: 600px){.banners-2>div{width:50%;float:left}}@media only screen and (min-width: 991px){.banners-2>div{float:left;width:25%}}.banners-2>div img{width:100%}.banners>div,.banners-2>div{position:relative;overflow:hidden}.banners>div>a:after,.banners-2>div>a:after{content:'';display:block;width:0;height:0;position:absolute;top:50%;left:50%;background-color:rgba(0,0,0,0.2);-webkit-transition:all 0.2s ease 0s;-moz-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s}.banners>div>a:before,.banners-2>div>a:before{display:inline-block;font-family:"FontAwesome";text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);content:"";position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-15px;font-size:36px;line-height:40px;z-index:5;opacity:0;color:#ffffff;-webkit-transition:all 0.6s ease 0s;-moz-transition:all 0.6s ease 0s;-o-transition:all 0.6s ease 0s;transition:all 0.6s ease 0s}.banners>div>a:hover:after,.banners-2>div>a:hover:after{height:100%;width:100%;top:0;left:0}.banners>div>a:hover:before,.banners-2>div>a:hover:before{opacity:1}.banners>div img,.banners-2>div img{-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s}.banners>div:hover img,.banners-2>div:hover img{-moz-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1)}.banners>div .s-desc,.banners-2>div .s-desc{position:absolute;width:100%;top:50%;margin-top:-60px;text-align:center;left:0;font-size:14px;color:#bdbdbd;z-index:5}.banners>div .s-desc h2,.banners-2>div .s-desc h2{font-size:42px;font-weight:500;color:#fff;text-transform:none;margin:0}@media only screen and (max-width: 1199px){.banners>div .s-desc h2,.banners-2>div .s-desc h2{font-size:28px}}.banners>div .s-desc>a,.banners-2>div .s-desc>a{display:inline-block;padding:9px 20px;border:1px solid #8b8b8b;font-size:12px;font-weight:300;color:#fff}.banners>div .s-desc>a:hover,.banners-2>div .s-desc>a:hover{color:#e52828;border-color:#e52828}.banners>div:nth-child(4) .s-desc>a,.banners-2>div:nth-child(4) .s-desc>a{background-color:#fff;color:#222323;border-color:#fff}.banners>div:nth-child(4) .s-desc>a:hover,.banners-2>div:nth-child(4) .s-desc>a:hover{color:#e52828}.welcome{text-align:center;font-size:16px;font-weight:300;line-height:26px;position:relative;border-bottom:1px solid #e4e4e4;margin-bottom:65px}.welcome>div{padding:3% 0 6%}.welcome>div:after{content:'';display:block;position:absolute;width:15px;height:9px;bottom:-9px;margin-left:-5px;left:50%}.welcome:before,.welcome:after{content:'';display:block;height:1px;width:100000px;background-color:#e4e4e4;position:absolute;bottom:-1px;right:-100000px}.welcome:before{left:-100000px}.welcome p{margin-bottom:32px;padding:0 8%}.welcome h1{font-weight:500;font-size:42px}.welcome a{display:inline-block;font-size:12px;font-weight:300;color:#222323;border:1px solid #9a9a9a;padding:5px 20px}.welcome a:hover{color:#e52828;border-color:#e52828}.cms-page-view .page-title h1,.cms-page-view .page-title h3,.cms-page-view .page-head h1,.cms-page-view .page-head h3,.cms-no-route .page-title h1,.cms-no-route .page-title h3,.cms-no-route .page-head h1,.cms-no-route .page-head h3{border:none}.cms-page-view .std img,.cms-no-route .std img{max-width:100%}.cms-page-view .std p,.cms-no-route .std p{color:#5f6262;font-size:14px;line-height:24px}.cms-page-view .std li,.cms-no-route .std li{color:#5f6262;font-family:Georgia,Times,"Times New Roman",serif;font-size:14px;font-style:italic;line-height:24px}.cms-page-view .col-left:after,.cms-no-route .col-left:after{content:'';display:table;clear:both}.cms-no-route .std img{width:100%}.cms-page-view .std .messages,.cms-home .std .messages,.cms-no-route .std .messages{margin-bottom:25px}.cms-page-view .std .messages ul,.cms-home .std .messages ul,.cms-no-route .std .messages ul{margin-bottom:0}.cms-page-view .std .messages li,.cms-home .std .messages li,.cms-no-route .std .messages li{list-style:none;margin-left:0;font-style:normal;font-family:"Helvetica Neue",Verdana,Arial,sans-serif}#accordion .toggle-tabs{display:none}#accordion>dl>dt{margin:0;margin-bottom:10px;color:#303334;font-family:"Roboto",sans-serif;font-size:16px;font-weight:500;font-style:normal;line-height:1.4;text-rendering:optimizeSpeed;-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none;color:#e52828;font-weight:500;margin-bottom:0px;padding:7px 10px 7px 24px;border-top:solid 1px #eaeaea;position:relative;background-color:#f5f5f5;display:block}#accordion>dl>dt:after{content:'';position:absolute;width:0;height:0;display:block;border-right:4px solid transparent;border-left:4px solid transparent;border-top:4px solid #222323;border-bottom:none;left:10px;top:50%;margin-top:-3px}@media only screen and (max-width: 767px){#accordion>dl>dt{color:#333;font-weight:normal;border:solid 1px #eaeaea;border-bottom:none}#accordion>dl>dt:hover{background-color:#EDEDED}}#accordion>dl>dd{padding:5px 30px 30px;background-color:#f5f5f5;margin:0}@media only screen and (max-width: 1199px){#accordion>dl>dd{padding:5px 15px 15px}}#accordion>dl>dd:last-child{border-width:0 1px 1px 1px}#accordion .selected-filter{background-color:#EDEDED}#accordion li{position:relative;overflow:hidden}#accordion li .plusimage h2{margin-right:10px}.page-sitemap .pager{float:none}.page-sitemap .links{display:block;text-align:right;margin:0 20px 0 0}.page-sitemap .links a{position:relative}.page-sitemap .sitemap{padding:0;margin:15px 0;position:relative}.page-sitemap .sitemap::before{content:'';position:absolute;width:1px;height:100%;top:11px;left:0;background-color:#e52828}.page-sitemap .sitemap::after{content:'';position:absolute;width:1px;height:24px;bottom:-15px;left:0;background-color:#fff}.page-sitemap .sitemap>li{padding-left:35px;position:relative}.page-sitemap .sitemap>li.level-0::before{content:'';position:absolute;width:40px;height:1px;top:11px;left:0;background-color:#e52828}.page-sitemap .sitemap>li.level-0 a::before{display:inline-block;font-family:"material-design";text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);content:"";font-size:13px;color:#e52828;padding-right:14px}.page-sitemap .sitemap li{margin:15px 0}.page-sitemap .sitemap li ul{margin:30px 0 30px 25px;position:relative}.page-sitemap .sitemap li ul::before{content:'';position:absolute;width:1px;height:100%;top:11px;left:0;background-color:#eaeaea}.page-sitemap .sitemap li ul::after{content:'';position:absolute;width:1px;height:24px;bottom:-15px;left:0;background-color:#fff}.page-sitemap .sitemap li ul li{padding-left:41px;position:relative}.page-sitemap .sitemap li ul li a{padding-left:20px}.page-sitemap .sitemap li ul li:not(.list-container)::before{content:'';position:absolute;width:40px;height:1px;top:11px;left:0;background-color:#eaeaea}.page-sitemap .sitemap li a{color:#5f6262;display:inline-block}.page-sitemap .sitemap li a:hover{color:#333}@media only screen and (max-width: 599px){.page-sitemap .sitemap li ul{margin-left:0px}}.indent1,.skills .term,.team .excerpt{margin-bottom:57px!important}.indent2{margin-bottom:25px!important}.custom-page{line-height:1.714em}.custom-page h3{line-height:1.8em;font-weight:500;margin-bottom:20px}.skills{text-align:center;color:#e52828;padding-top:16px}.skills .term{text-transform:uppercase;font-size:16px;font-weight:500}.skills .value{font-size:56px;line-height:1.519em;font-weight:500}#oar_widget_orders_and_returns_form .fieldset{margin-bottom:20px}#oar_widget_orders_and_returns_form .buttons-set{border-top:0;margin:0;padding:0}.custom-title1{font-size:16px;color:#e52828;line-height:22px;font-weight:500;padding:0;margin:0 0 15px 0;position:relative;text-align:center;margin-bottom:20px}.custom-title1:before{display:inline-block;font-family:"material-design";text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);content:"";font-size:66px;border:solid 2px #e52828;border-radius:50%;text-align:center;vertical-align:middle;display:block;margin:0 auto 35px;line-height:118.8px;width:122px;height:122px}.custom-title2{font-size:16px;color:#e52828;line-height:22px;font-weight:500;padding:0;margin:0 0 15px 0;position:relative;text-align:center;margin-bottom:20px}.custom-title2:before{display:inline-block;font-family:"material-design";text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);content:"";font-size:66px;border:solid 2px #e52828;border-radius:50%;text-align:center;vertical-align:middle;display:block;margin:0 auto 35px;line-height:118.8px;width:122px;height:122px}.custom-title3{font-size:16px;color:#e52828;line-height:22px;font-weight:500;padding:0;margin:0 0 15px 0;position:relative;text-align:center;margin-bottom:20px}.custom-title3:before{display:inline-block;font-family:"material-design";text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);content:"";font-size:56px;border:solid 2px #e52828;border-radius:50%;text-align:center;vertical-align:middle;display:block;margin:0 auto 35px;line-height:122px;width:122px;height:122px}.team{text-align:center}.team figure{display:block;margin:0 auto 25px;text-align:center}.team figure a{display:inline-block;overflow:hidden}.team figure:hover img{filter:grayscale(100%);-webkit-filter:grayscale(100%)}.team figure img{border:medium none;max-width:100%;width:100%}.team h4{font-weight:400;text-transform:uppercase}.team .excerpt{text-align:center;padding-right:10px;padding-left:10px;padding-top:1px}.testimonials::before{display:inline-block;font-family:"material-design";text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);content:"";display:block;margin:0 auto 20px;text-align:center;font-size:84px;line-height:1em;color:#e52828}.testimonials blockquote{position:relative;text-align:center;font-size:14px;border:none}.testimonials blockquote cite{margin:0;margin-bottom:10px;color:#303334;font-family:"Roboto",sans-serif;font-size:16px;font-weight:500;font-style:normal;line-height:1.4;text-rendering:optimizeSpeed;font-weight:400;display:block;text-align:center;color:#e52828;text-transform:uppercase}.testimonials blockquote q{display:block;padding:0 5%}.testimonials .owl-controls .owl-buttons div.owl-prev,.testimonials .owl-controls .owl-buttons div.owl-next{position:relative;top:auto;left:auto;right:auto;margin:0 15px}.testimonials .owl-controls .owl-buttons div.owl-next{right:auto;left:auto}@media only screen and (max-width: 991px){.testimonials .owl-controls .owl-buttons div.owl-prev{left:7px}.testimonials .owl-controls .owl-buttons div.owl-next{right:7px}}@media only screen and (max-width: 479px){.indent1,.skills .term,.team .excerpt{margin-bottom:20px}.skills .term{font-size:14px}.skills .value{font-size:30px}}.table-bordered .price{font-weight:500;color:#303334;font-size:16px}.terms-conditions h4{font-size:20px;color:#e52828}.terms-conditions h4:before{display:inline-block;font-family:"material-design";text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0,0);content:"";font-size:40px;color:#e52828;padding-right:0.244em}@media only screen and (max-width: 767px){.terms-conditions h4:before{font-size:30px}}.terms-conditions h4::before{padding-right:25px}.terms-conditions p{margin-bottom:35px}@media only screen and (max-width: 767px){.cms-page-view .data-table tr,.cms-page-view .data-table th,.cms-page-view .data-table td{display:block}.cms-page-view .data-table thead{display:none}.cms-page-view .data-table thead th{border-right:0;border-left:0}.cms-page-view .data-table thead th.lin-hide{display:none}.cms-page-view .data-table thead th:nth-child(1n+2){display:none}.cms-page-view .data-table tbody tr{position:relative;border-bottom:1px solid #eaeaea}.cms-page-view .data-table tbody td{padding:0 10px 4px;border-right:0;border-bottom:0}.cms-page-view .data-table tbody td.lin-hide{display:none}.cms-page-view .data-table tbody td:first-child{padding-top:10px}.cms-page-view .data-table tbody td:first-child,.cms-page-view .data-table tbody td:first-child h3{font-weight:bold}.cms-page-view .data-table tbody td[data-rwd-label]{text-align:left;padding-left:30px}.cms-page-view .data-table tbody td[data-rwd-label]:before{content:attr(data-rwd-label) ":";font-size:12px;font-family:"Roboto",sans-serif;padding:5px 5px 5px 0;text-transform:uppercase}.cms-page-view .data-table tfoot tr{display:block;text-align:right}.cms-page-view .data-table tfoot tr:after{content:'';display:table;clear:both}.cms-page-view .data-table tfoot td{display:block;float:left}.cms-page-view .data-table tfoot td.lin-hide{display:none}.cms-page-view .data-table tfoot td:nth-child(odd){clear:left;width:60%}.cms-page-view .data-table tfoot td:nth-child(even){text-align:left;width:40%}.cms-page-view .data-table .linearize-hide{display:none}.cms-page-view .data-table .linearize-unpad{padding:0}.cms-page-view .data-table .linearize-show{display:block}.cms-page-view .data-table thead{display:none}}dl.numbered-list{counter-reset:number}dl.numbered-list dt{counter-increment:number;margin:0;margin-bottom:10px;color:#303334;font-family:"Roboto",sans-serif;font-size:20px;font-weight:500;font-style:normal;line-height:1.4;text-rendering:optimizeSpeed;color:#e52828;font-weight:500;padding-bottom:10px}dl.numbered-list dt::before{content:counter(number);display:inline-block;width:39px;height:39px;line-height:38px;text-align:center;border-radius:50%;font-size:16px;color:#fff;margin-right:18px;background-color:#e52828;box-shadow:inset -1px -1px 1px 0px rgba(0,0,0,0.3),0px 1px 0px 0px rgba(255,255,255,0.8)}dl.numbered-list dd{line-height:1.714em;margin-bottom:45px}.table.table-list-style>tbody>tr>td{border-top:0;padding:0px 30px 30px}.table.table-list-style>tbody>tr>td:not(:last-child){border-right:solid 1px #eaeaea}@media only screen and (max-width: 599px){.table.table-list-style>tbody>tr>td{padding:0 10px 10px}}.table.table-list-style h4{float:right;max-width:300px;text-align:right}
a{
  direction: rtl;
}
.welcome a {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #222323;
  border: 1px solid #9a9a9a;
  padding: 5px 20px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body ,html{
  background: #f4f4f4;

}
.parallax-container{
  height: 300px;
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
  direction: rtl;
}
.contact h4{
  font-size: x-large;
  border-bottom: solid 2px #f4f4f4;
}


body,p,div,a,input,label,span{
  font-family: IRANSans;
}
p{
  line-height: 2em;
}
