<div class="title">
  <div>
    <h1>{{user.sex?'جناب آقای ':'سرکار خانم'}} {{user.name}} {{user.family}} <span>خوش آمدید.</span></h1>
  </div>
</div>
<div class="row">
  <div style="float: right" class="col s12 m3">
    <div class="collection">
      <a [ngClass]="{'active':router.url==='/panel'}" [routerLink]="['/panel']" class="collection-item">صفحه اصلی</a>
      <a [ngClass]="{'active':router.url==='/panel/order-list'}" [routerLink]="['/panel/order-list']" class="collection-item">خریدها</a>
      <a [ngClass]="{'active':router.url==='/panel/profile'}" [routerLink]="['/panel/profile']" class="collection-item">اطلاعات کاربری</a>
      <a [ngClass]="{'active':router.url==='/panel/messages'}" [routerLink]="['/panel/messages']" class="collection-item">پیام ها</a>
    </div>
  </div>
  <div style="float: right;position: relative;min-height: 80vh;overflow-y: auto;overflow-x: hidden" class="col s12 m9">
    <router-outlet></router-outlet>
  </div>
</div>
