<div #carousel class="carousel carousel-slider"  data-indicators="true">
  <div class="carousel-fixed-item center">
    <a [routerLink]="['/news']">ادامه خبرها...</a>

  </div>
  <div *ngFor="let item of items" class="carousel-item cyan lighten-5" >
    <blockquote class="blockquote-reverse white">
      <h5>{{item.title}}</h5>
      <p style="font-size: smaller">{{item?.time|persianDate}}</p>
      <footer>
        <p class="truncate">{{item.content}}</p>
        <a [routerLink]="['/news',item.id]">مشاهده...</a>
      </footer>
    </blockquote>
  </div>
</div>
