<div class="title">
  <div class="container">
    <h1>عضویت</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l8 offset-l2">
      <form class="form" [formGroup]="regForm" (ngSubmit)="submit()">
        <div style="margin-bottom: 30px">
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_prefix" formControlName="name" required type="text" class="validate">
                <label for="icon_prefix">نام</label>
                <div class="data-error red-text" *ngIf="regForm.get('name').hasError('required') && regForm.get('name').touched" >نام خود را وارد کنید.</div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_prefix" formControlName="family" required type="text" class="validate">
                <label data-error="نام خانوادگی خود را وارد کنید." for="icon_prefix"> نام خانوادگی</label>
                <div class="data-error red-text" *ngIf="regForm.get('name').hasError('required') && regForm.get('name').touched" >نام خود را وارد کنید.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_mobile" formControlName="mobile" required pattern="09\d{9}" type="text" class="validate">
                <label data-error="شماره موبایل خود را به صورت صحیح وارد کنید" for="icon_telephone">شماره موبایل</label>
                <div class="data-error red-text" *ngIf="regForm.get('mobile').hasError('required') && regForm.get('mobile').touched" >شماره موبایل خود را وارد کنید.</div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_telephone" formControlName="phone"  pattern="0\d{10}" type="text" class="validate">
                <label data-error="شماره تلفن خود را به صورت صحیح وارد کنید" for="icon_telephone">شماره تلفن</label>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_email" formControlName="email" type="email" class="validate">
                <label data-error="ایمیل وارد شده صحیح نشد." for="icon_email">ایمیل</label>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_zip" formControlName="zip" required pattern="\d{10}" type="text" class="validate">
                <label data-error="کد پستی خود را به صورت صحیح وارد کنید" for="icon_zip">کد پستی</label>
                <div class="data-error red-text" *ngIf="regForm.get('zip').hasError('required') && regForm.get('zip').touched" >کد پستی خود را وارد کنید.</div>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="col s12 m6">
              <mz-select-container>
                <select mz-select [label]="'استان'" [placeholder]="'استان خود را انتخاب کنید.'" (change)="provinceSelected($event.target.value)"
                  formControlName="province">
                  <option *ngFor="let item of province;let i=index"  [ngValue]="item">{{item.name}}</option>
                </select>
             </mz-select-container>
            </div>
            <div class="col s12 m6">
              <mz-select-container>
                <select mz-select [label]="'شهر'" [placeholder]="'شهر خود را انتخاب کنید.'" formControlName="city">
                  <option *ngFor="let item of cities"  [ngValue]="item">{{item.name}}</option>
                </select>
              </mz-select-container>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                <input id="icon_address" formControlName="address" required type="text" class="validate">
                <label for="icon_address">نشانی</label>
                <div class="data-error red-text" *ngIf="regForm.get('address').hasError('required') && regForm.get('address').touched" >نشانی خود را وارد کنید</div>
              </div>
            </div>
          </div>
          <div class="row" formGroupName="passwords">
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_address" formControlName="password" required type="password" class="validate">
                <label for="icon_address">رمز عبور</label>
                <div class="data-error red-text" *ngIf="regForm.get('passwords').get('password').hasError('required') && regForm.get('passwords').get('password').touched">  رمز عبور را وارد کنید!</div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input id="icon_address" formControlName="repassword" required type="password" class="validate">
                <label for="icon_address">تکرار رمز عبور</label>
                <div class="data-error red-text" *ngIf="regForm.get('passwords').get('repassword').hasError('required') && regForm.get('passwords').get('repassword').touched"> تکرار رمز عبور را وارد کنید!</div>
                <div class="data-error red-text" [hidden]="regForm.get('passwords').valid || regForm.get('passwords').get('repassword').pristine"> دو رمز عبور وارد شده یکسان نیست!</div>
              </div>
            </div>
          </div>
          <div *ngIf="message">
              <p class="message-{{message.result}}">{{message.message}}</p>
          </div>
          <button type="submit" [disabled]="!regForm.valid || loading" class="waves-effect waves-light btn">
            <span *ngIf="!loading">عضویت</span>
            <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw" ></i>
          </button>
          <a [routerLink]="['/login']">ورود</a>

        </div>
      </form>
    </div>
  </div>
</div>
