.content {
  padding: 4% 0 15% 0
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: 1px #f4f4f4 solid
}

* {
  direction: rtl;
  text-align: right
}
.title {
  background: #f4f4f4;
  padding: 70px 0 5px 0;
  border-bottom: 2px solid #e4e4e4
}
.form .col{
  float: right
}
.row{
  margin-bottom: 0
}

.data-error{
  direction: rtl;
  text-align: right;
  font-size: smaller;
  margin-top: -20px
}
