h1 {
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: 1px #f4f4f4 solid
}

* {
  direction: rtl;
  text-align: right
}

.header-title {
  background: #f4f4f4;
  padding: 80px 0 5px 0;
  border-bottom: 2px solid #e4e4e4
}

.breadcrumbs a {
  display: inline-block
}
.breadcrumbs{
   width: calc(100% - 70px)!important;
   display: inline-block
}
.row .col{
  float: right
}
ul {
  padding-right: 0!important
}
.btn-floating.halfway-fab{
  right:auto!important;
  left:20px!important;
}
.card .card-content p{
  line-height: 2rem
}
td{
  padding: 5px
}
