<div class="header-title">
  <div>
    <div class="row" style="margin-bottom: 0">
      <div class="col s12 m9" style="position: relative">
        <h1>تایید مشخصات</h1>
        <div class="breadcrumbs">
          <a [routerLink]="['']">صفحه اصلی</a> <span style="color:#ccc">/</span>
          <a [routerLink]="['/cart']">سبد خرید</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin: 20px auto 100px auto;">
  <button [disabled]="!validateUser()" class="btn green">تایید و ادامه خرید</button>
  <div style="position: relative">
    <app-edit-profile></app-edit-profile>
  </div>
</div>
